<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ningling.mapper.NoticeMapper">
    <insert id="insertNotice">
        insert into notices(title,content,updated_time)
        values (#{title},#{content},#{updateTime})
    </insert>
    <update id="updateNotice">
        update notices
        <set>

            <if test="title != null">
                 title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="isTop != null">
                 is_top = #{isTop},
            </if>
            <if test="status != null">
                 `status` = #{status},
            </if>
            <if test="createdTime != null">
                 created_time = #{createdTime},
            </if>
            <if test="updatedTime != null">
                 updated_time = #{updatedTime}
            </if>
        </set>
        <where>
            notice_id = #{noticeId}
        </where>
    </update>

    <select id="getNotices" resultType="com.ningling.Entity.Notice">
        select * from notices
        <where>
            <if test="notice_id != null">
                and notice_id = #{noticeId}
            </if>
            <if test="status != null">
                and `status` = #{status}
            </if>
            <if test="isTop != null">
                and is_top = #{isTop}
            </if>
            <if test="title!=null">
                and title like concat('%',#{title},'%')
            </if>
        </where>
    </select>


</mapper>
